#preco{
    background:  var(--cinza-claro);
}

.preco{
    margin: 100px auto ;
    padding: 60px;
    align-items: flex-end;
}

.border-preco{
    flex: 1 1 260px;
    border: solid 5px #fff;
    padding: 40px 20px;
    margin: 10px;
    text-align: center;
}

.border-preco h3{
    color: #A4A4A4;
    justify-content: center;
    text-align: center;
    border-bottom: solid 4px #fff;
    margin: 20px 0;
    padding: 10px;
}

.reais{
    font-size: 24px;
    font-weight: 700;
    align-items: flex-start;
}

.numero-preco{
    font-size: 48px;
    font-weight: 700;
}

sup{
    vertical-align: super;
}

.border-preco ul{
    list-style: none;
    text-align: left;
    color: #A4A4A4;
    font-style: italic;
}

.border-preco li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.border-preco li::after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #2c70ff;
    border-radius: 50%;
}

.border-preco a{
    border: 3px solid var(--preto);
    padding: 5px 40px;
    font-size: 36px;
    text-decoration: none;
    color: var(--preto);
    font-weight: 700;
    margin: 40px;
}